<nav class="pc-sidebar">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="index.html" class="b-brand">
                <img href="../../assets/images/logo.svg" alt="" class="logo logo-lg">
                <img href="../../assets/images/logo-sm.svg" alt="" class="logo logo-sm"></a>
        </div>
        <div class="navbar-content">
            <ul class="pc-navbar">
                <li class="pc-item pc-caption">
                    <label>Navigation</label>
                </li>
                <li class="pc-item">
                    <a href="/manager/" class="pc-link">
                        <span class="pc-micon">
                            <i class="material-icons-two-tone">home</i>
                        </span>
                        <span class="pc-mtext">Tableau de bord</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a href="/forecast" class="pc-link">
                        <span class="pc-micon">
                            <i class="material-icons-two-tone">navigation</i>
                        </span>
                        <span class="pc-mtext">Forecast</span>
                    </a>
                </li>
                <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link">
                        <span class="pc-micon">
                            <i class="material-icons-two-tone">content_paste</i>
                        </span>
                        <span class="pc-mtext">Campagnes</span>
                        <span class="pc-arrow">
                            <i data-feather="chevron-right"></i>
                        </span>
                    </a>
                    <ul class="pc-submenu">
                        <li class="pc-item">
                            <a class="pc-link" href="/manager/campaigns/">Accueil</a>
                        </li>
                        <li class="pc-item">
                            <a class="pc-link" href="/manager/campaigns/list">Liste des campagnes</a>
                        </li>                         
                        <li class="pc-item">
                            <a class="pc-link" href="/manager/campaigns/tv/list">Liste des campagnes TV</a>
                        </li>                 
                        </li>
                    </ul>
                </li>
              
                <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link">
                        <span class="pc-micon">
                            <i class="material-icons-two-tone">store</i>
                        </span>
                        <span class="pc-mtext">Annonceurs</span>
                        <span class="pc-arrow">
                            <i data-feather="chevron-right"></i>
                        </span>
                    </a>
                    <ul class="pc-submenu">
                        <li class="pc-item">
                            <a class="pc-link" href="/manager/advertisers/">Accueil</a>
                        </li>
                        <li class="pc-item">
                            <a class="pc-link" href="/manager/advertisers/list">Liste des annonceurs</a>
                        </li>
                       
                    </ul>
                </li>
               
                <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link">
                        <span class="pc-micon">
                            <i class="material-icons-two-tone">contacts</i>
                        </span>
                        <span class="pc-mtext">Utilisateurs</span>
                        <span class="pc-arrow">
                            <i data-feather="chevron-right"></i>
                        </span>
                    </a>
                    <ul class="pc-submenu">
                        <li class="pc-item">
                            <a class="pc-link" href="/manager/users/list">Liste des utilisateurs</a>
                        </li>                      
                    </ul>
                </li>
                
                <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link">
                        <span class="pc-micon">
                            <i class="material-icons-two-tone">next_week</i>
                        </span>
                        <span class="pc-mtext">Agences</span>
                        <span class="pc-arrow">
                            <i data-feather="chevron-right"></i>
                        </span>
                    </a>
                    <ul class="pc-submenu">
                        <li class="pc-item">
                            <a class="pc-link" href="/manager/agencies/list">Liste des agences</a>
                        </li>
                    </ul>
                </li>                
            </ul>
        </div>
    </div>
</nav>