body { background: #eee; font-family: Century Gothic, Verdana, Geneva, Tahoma, sans-serif; margin: 0; border: none; }
hr { margin-top: 10px; border-color: #ddd; }
img { image-rendering: -webkit-optimize-contrast; }
#logo { justify-content: center; flex-wrap: inherit; }
#reporting-board { background: #fff; }
.chart { display: flex; flex-direction: column; justify-content: center; margin-top: 10%; margin-bottom: 10%; }
.bg-default.info_generale { color: white; background: #0052bc !important; }
.list-group-flush { width: 100%; }
.list-group-flush li strong { display: inline-block; }
.nav-item.nav-link { margin-right: 10px; }
.couverture_cible { display: flex; align-content: center; justify-content: flex-start; }